.tmp.drivedownload/
.tmp.driveupload/
novels/
config.json
prompt.md


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
.eggs/
tests/

# VSCode
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log